{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title%}
    </title>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="{% url 'home' %}">Main page</a>
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
                <a href="{% url 'category_list' %}">Expense Category</a>
                <a href="{% url 'account_list' %}">Account List</a>
                <a href="{% url 'create_category' %}">Create Categories</a>
                <a href="{% url 'create_account' %}">Create Accounts</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
        </nav>
    </header>
    {% block content %}{%endblock content %}
<footer>
</footer>
</body>
</html>
